.p-datatable .p-datatable-header {
    background: none;
}

.p-paginator-current {
    display: none;
}

.p-datatable table {
    border-radius: 20px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) !important;
}

.p-datatable thead {
    background: white !important;
    padding: 10px !important;
    border: 2px solid rgb(241, 241, 241) !important;
    border-radius: 20px !important;
}

.p-datatable thead th {
    background-color: #f5f5f5 !important;
    color: #285598 !important;
    text-align: center;
    margin-top: 200px !important;
}

.p-datatable thead th:hover {
    background: #ffffff !important;
}

.p-datatable .p-datatable-thead {
    border-radius: 20px !important;
}