.MuiStack-root,
.css-10o2lyd-MuiStack-root {
    padding-top: 0px !important;
    margin-top: 4px !important;
}

.MuiOutlinedInput-root {
    border-radius: 6px !important;
    overflow: hidden !important;
}

#\:r4\:,
#\:r6\: {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}